# Entorno virtual de Python
venv/
env/
ENV/

# Variables de entorno y credenciales
.env
*.pem

# Archivos temporales de Python y caché
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Base de datos vectorial local (si la guardas en disco)
*.faiss
*.pkl

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Ficheros de log
*.log
