GOOGLE_API_KEY=tu_google_api_key_aqui
GEMINI_API_KEY=tu_google_api_key_aqui
COHERE_API_KEY=tu_cohere_api_key_aqui
LANGFUSE_PUBLIC_KEY=tu_langfuse_public_key_aqui
LANGFUSE_SECRET_KEY=tu_langfuse_secret_key_aqui
LANGFUSE_HOST=https://cloud.langfuse.com
